.project {
  margin-left: 30px;
  margin-right: 30px;
  background-color: #F5F5F5;
}

#project_content {
  margin-left: 100px;
}

#project_content #top {
  background: #F5F5F5;
  border-bottom: 1px solid #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

#project_content ul li ul {
  margin-left: 0;
  margin: 0;
  padding: 0;
}

#project_content ul li ul li {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  margin-right: 20px;
  margin-left: 0;
  font-weight: bold;
}

#project_content #versions {
  height: 275px;
  margin-top: 20px;
}

#project_content .version {
  float: left;
  width: 250px;
  padding: 20px;
  margin-right: 10px;
}

#project_content .version ul li {
  margin: 0;
  padding: 8px;
}

#project_content .version h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#dbal {
  background: url('../images/dbal_icon.png') 10px 10px no-repeat;
}

#migrations {
  background:  url('../images/migrations_icon.png') 10px 10px no-repeat;
}

#orm {
  background: url('../images/orm_icon.png') 10px 10px no-repeat;
}

#rest {
  background: url('../images/rest_icon.png') 10px 10px no-repeat;
}

#mongodb_odm {
  background: url('../images/mongodb_odm_icon.png') 30px 20px no-repeat;
}