Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On

  # uncomment the following line, if you are having trouble
  # getting no_script_name to work
  #RewriteBase /

  # we skip all files with .something
  RewriteCond %{REQUEST_URI} \..+$
  RewriteCond %{REQUEST_URI} !\.html$
  RewriteCond %{REQUEST_URI} !\.rss$
  RewriteRule .* - [L]

  # we check if the .html version is here (caching)
  RewriteCond %{REQUEST_METHOD} GET
  RewriteCond %{DOCUMENT_ROOT}/cache/%{REQUEST_URI}index.html.php -f
  RewriteRule ^(.*) cache/$1index.html.php [L]

  RewriteCond %{REQUEST_METHOD} GET
  RewriteCond %{DOCUMENT_ROOT}/cache/%{REQUEST_URI}.html.php -f
  RewriteRule ^(.*) cache/$1.html.php [L]

  RewriteCond %{REQUEST_METHOD} GET
  RewriteCond %{DOCUMENT_ROOT}/cache/%{REQUEST_URI}.php -f
  RewriteRule ^(.*) cache/$1.php [L]

  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]

  RewriteCond %{HTTP_HOST} www.doctrine-project.com
</IfModule>

# big crash from our front web controller
ErrorDocument 500 "<h2>Application error</h2>symfony application failed to start properly"
